$tsmarketing-sub-skyblue: #6e7fba;
$tsmarketing-sub-skyblue-1: #97aae5;
$tsmarketing-sub-white: #ffffff;
$grayscale-0: #fafafa;
$grayscale-1: #f0f0f0;
$grayscale-2: #dbdbdb;
$grayscale-3: #a9a9a9;
$grayscale-4: #757575;
$grayscale-5: #4d4d4d;
$grayscale-6: #212121;
// $tsmarketing-sub-red: #ffffff;
